* {
    --theme-color: hsl(0, 0%, 94%);
}

.container-section {
    width: 84%;
    position: fixed;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.1);
    background: #fff;
    z-index: 9991;
    box-shadow: 0 0 5px var(--theme-color);
    animation: open-section .5s ease forwards;
}

.close-icon {
    position: absolute;
    top: -30px;
    right: .25%;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    color: hsl(0, 0%, 40%);
    border-bottom: 3px solid var(--theme-color);
}

.invoice-description {
    font-size: .85rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.reminder {
    font-weight: 600;
    padding-top: 1rem;
}

footer {
    border-top: 3px solid var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@keyframes open-section {
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.close-modal {
    animation: close-section .4s ease-in forwards;
}

@keyframes close-section {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(.1);
    }
}