@import "c/seaTimeAppStyleSheet";

.logo-section {
    display: none !important;
}

.logo-desktop {
    position: fixed;
    right: 2%;
}

.logo-mobile {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}